<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/code.css">
    <title>Code source</title>
</head>
<body>
    <textarea  id="textToCopy" cols="250" rows="20" readonly>
        &lt;!DOCTYPE html&gt;   
        &lt;html lang="fr"&gt;
            &lt;head&gt;
                &lt;meta charset="UTF-8"&gt;
                &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                &lt;title&gt;{{.Titre}}&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
                &lt;h1&gt;{{.Theme}}&lt;/h1&gt;
                &lt;p&gt;{{.Content}}&lt;/p&gt;
                &lt;a href="{{.Link}}"&gt;{{.Link}}&lt;/a&gt;
            &lt;/body&gt;
        &lt;/html&gt;
    </textarea>
    <br>
    <button id="copyButton">📋Copier</button>
</body>
<script src="../static/script/script.js"></script>
</html>