<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code source</title>
</head>
<body>
    <textarea name="" id="textToCopy" cols="500" rows="20">
        &lt;!DOCTYPE html&gt;   
        &lt;html lang="fr"&gt;
        &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;title&gt;Result&lt;/title&gt;
        &lt;link rel="stylesheet" href="../static/result.css"&gt;
        &lt;style&gt;
        &lt;/style&gt;
        &lt;/head&gt;
        &lt;/body&gt;
        &lt;h1&gt;{{.Theme}}&lt;/h1&gt;
        &lt;p&gt;{{.Content}}&lt;/p&gt;
        &lt;a href="{{.Link}}"&gt;{{.Link}}&lt;/a&gt;
    </textarea>
    
    
    <button id="copyButton">📋Copier</button>
</body>
<script src="../static/script/script.js"></script>
</html>