<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/form.css">
    <title>Form</title>
</head>
<body>
    <h1>Generateur site internet</h1>
    <form action="/generate" method="post">
        <p class="titre">Cliquez pour ajouter un titre <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="titreChoix" type="text" name="titre">
        <br>
        <br>
        <p class="theme">Cliquez pour ajouter un theme <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="themeChoix" type="text" name="theme">
        <br>
        <br>
        <p class="description">Cliquez pour ajouter une description <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="descriptionChoix" type="text" name="description">
        <br>
        <br>
        <p class="color">Cliquez pour ajouter une couleur de fond <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="colorChoix" type="color" name="color">
        <br>
        <br>
        <button type="submit">Générer Mini-Site</button>

    </form>
    
</body>
<script src="../static/script/scriptForm.js"></script>
</html>