<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/form.css">
    <title>Form</title>
</head>
<body>
    <h1>Generateur site internet</h1>
    <form action="/generate" method="post">
        <p class="title">Add a title <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="titleChoice" type="text" name="title">
        <br>
        <br>
        <p class="theme">Add a theme <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="themeChoice" type="text" name="theme">
        <br>
        <br>
        <p class="content">Add some content <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="contentChoice" type="text" name="content">
        <br>
        <br>
        <p class="color">Add a background color <img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="colorChoice" type="color" name="color">
        <br>
        <br>
        <p class="link">Add a link<img src="/static/images/téléchargement.png" alt="" width=5%></p>
        <input class="linkChoice" type="text" name="link">
        <br>
        <br>
        <button type="submit">Generate my website</button>

    </form>
    
</body>
<script src="../static/script/scriptForm.js"></script>
</html>